@font-face {
	font-family: Open_sansB;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}
img{
	user-select: none;
}
a{
	color: #000;
	text-decoration: none;
}
@font-face {
	font-family: RubikB;
	src: url(../fonts/Rubik/Rubik-Bold.ttf);
}
@font-face {
	font-family: Open_sansR;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: PlayB;
	src: url(../fonts/Play/Play-Bold.ttf);
}
@font-face {
	font-family: PlayR;
	src: url(../fonts/Play/Play-Regular.ttf);
}
span,h1,h2,h3,h4,h5,h6{
	letter-spacing: 1.13px;
}
.all{
	overflow: hidden;
}
body{
	height: 3370px;
	width: 100%;
	background: #F3F3F3;
}
.header{
	width: 100%;
	height: 73px;
	background: #fff;
}
.slider{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 620px;
	background: #222224;
}
.content1{
	margin-top: 55px;
	max-width: 1300px;
	height: 790px;
	margin-left: auto;
	margin-right: auto;
}
.content2{
	margin-top: 170px;
	width: 100%;
	background: #222224;
	height: 560px;
}
.content3{
	margin-top: 70px;
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	height: 698px;
}
.advs{
	width: 100%;
	height: 226px;
	margin-top: 80px;
}
.adv_block{
	width: 100%;
	background: #222224;
	height: 190px;
}
.logo{
	background-size: 100%;
	background-image: url(../img/header_logo.png);
	width: 224px;
	height: 61px;
	margin-left: 24px;
	float: left;
	margin-top: 7px;
}
.content_menu{
	display: table;
	width: 700px;
	height: 73px;
}
.cover{
	width: 73px;
	height: 73px;
	background: #fff;
	position: absolute;
	right: 0px;
}
.open_menu{
	height: 73px;
	background: #fff;
	float: left;
	transition-duration: 0.7s;
	width: 0px;
}
.menu_group{
	float: right;
	height: 73px;
	background: #555;
	margin-right: 73px;
}
.curs_point{
	cursor: pointer;
}
.str{
	display: table-cell;
	height: 73px;
	vertical-align: middle;
	font-family: PlayB;
	text-align: center;
}
.menu_obj{
	background: #fff;
	width: 73px;
	cursor: pointer;
	position: relative;
	height: 73px;
	float: left;
	transition-duration: 0.55s;
}
#input_id{
	display: none;
}
.search_input{
	color: #fff;
	font-family: PlayB;
	font-size: 18px;
	width: 294px;
	height: 30px;
	position: absolute;
	left: 20px;
	top: 21px;
	background: none;
	outline: none;
	border: none;
}
.all_svg{
	position: absolute;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
	background-size: 100%;
	transition-duration: 0.3s;
}
.search_svg{
	right: 21px;
	width: 31px;
	height: 31px;
	background: url(../img/search.svg);
	margin-top: 21px;
}
.search_svg_active{
	opacity: 0;
	right: 21px;
	background: url(../img/search_active.svg);
	width: 31px;
	height: 31px;
	margin-top: 21px;
}
.upper_layer{
	position: absolute;
	width: 73px;
	right: 0px;
	height: 73px;
}
.cart_svg{
	width: 35px;
	height: 31px;
	margin-top: 21px;
	fill: pink;
	margin-left: 19px;
	background: url(../img/cart.svg);
}
.cart_svg_active{
	margin-top: 21px;
	opacity: 0;
	margin-left: 19px;
	background: url(../img/cart_active.svg);
	width: 35px;
	height: 31px;
}
.menu_svg{
	margin-left: 23px;
	width: 27px;
	height: 19px;
	background: url(../img/menu.svg);
	margin-top: 27px;
}
.menu_svg_active{
	opacity: 0;
	margin-left: 23px;
	width: 27px;
	margin-top: 27px;
	height: 19px;
	background: url(../img/menu_active.svg);
}
.slider_imgs{
	width: 1240px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main_img{
	cursor: pointer;
	width: 800px;
	height: 540px;
	background: url(http://via.placeholder.com/800x540);
	transition-duration: 0.2s;
}
.overflow{
	overflow: hidden;
}
.main_img_upper{
	position: relative;
	float: left;
	margin-top: 40px;
	width: 800px;
	height: 540px;
}
.other_img{
	position: relative;
	width: 410px;
	height: 260px;
	margin-top: 40px;
	float: left;
	margin-left: 30px;
	margin-bottom: 0px;
	padding: none;
}
.other_img1{
	cursor: pointer;
	transition-duration: 0.2s;
	width: 410px;
	height: 260px;
	background: url(http://via.placeholder.com/410x260);
}
.other_img1_upper{
	position: relative;
	float: left;
	width: 410px;
	height: 260px;
}
.margin_top20{
	margin-top: 20px;
}
.new{
	position: absolute;
	user-select: none;
	border: solid #fff 5px;
	top: 20px;
	margin-left: 30px;
	height: 45px;
	width: 110px;
}
.new_span{
	font-family: PlayB;
	font-size: 36px;
	color: #fff;
	vertical-align: center;
	text-align: center;
	width: 102px;
	margin-left: 12px
}
.discount{
	position: absolute;
	user-select: none;
	display: table;
	top: 10px;
	right: 10px;
	float: right;
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.55);
	width: 36px;
	height: 16px;
	border: solid #fff 2px;
}
.discount_span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	font-family: PlayB;
	color: #fff;
}
.semi_block{
	display: table;
	position: absolute;
	bottom: 0px;
	width: 100%;
	opacity: 0.5;
	height: 50px;
	background: #000;
}
.semi_podblock{
	float: left;
	display: table;
	width: 280px;
	height: 50px;
}
.semi_h3{
	cursor: pointer;
	padding-left: 10px;
	max-width: 280px;
	display: table-cell;
	margin-left: 10px;
	letter-spacing: 1.44px;
	font-family: PlayR;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
}
.semi_price{
	user-select: none;
	margin-top: 10px;
	margin-right: 45px;
	float: right;
	display: table;
	width: 51px;
	height: 21px;
	border: solid #fff 2px;
}
.semi_price_span{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	color: #fff;
	font-family: RubikB;
	font-size: 14px;
}
.pages_1{
	float: left;
	width: 850px;
	height: 44px;
}
.pages_h2s{
	margin-left: 20px;
	float: left;
}
.page_h2{
	cursor: pointer;
	float: left;
	margin-right: 50px;
	font-family: PlayR;
	font-size: 18px;
	letter-spacing: 2.77px;
	color: #979797;
}
#page2{
	color: #222224;
}
.line_pages{
	width: 850px;
	height: 1px;
	background: #B2B2B2;
	float: left;
}
.bline{
	height: 3px;
	background: #474747;
	float: left;
}
.black_lines{
	margin-top: 22px;
	width: 625px;
	float: left;
	height: 3px;
}
.bline1{
	opacity: 0;
	width: 175px;
}
.bline2{
	opacity: 1;
	width: 125px;
}
.bline3{
	opacity: 0;
	width: 175px;
}
.bline4{
	opacity: 0;
	width: 150px;
}
.main_games{
	float: left;
	width: 850px;
	height: 705px;
	margin-top: 30px;
}
.last1{
	margin-top: 21px;
	float: left;
	width: 395px;
	height: 419px;
}
.left_part{
	width: 850px;
	float: left;
}
.right_part{
	width: 395px;
	float: right;
}
.last2{
	float: left;
	width: 395px;
	height: 304px;
	margin-top: 46px;
}
.game_line{
	width: 850px;
}
.game_line1{
	height: 230px;
}
.game_line2{
	margin-top: 30px;
	height: 175px;
}
.game_line3{
	margin-top: 30px;
	height: 240px;
}
.game_block{
	cursor: pointer;
	transition-duration: 0.2s;
}
.norm{
	overflow: hidden;
	float: left;
	position: relative;
}
.block1{
	width: 490px;
	height: 230px;
	background: url(http://via.placeholder.com/490x230);
}
.block2{
	width: 330px;
	height: 230px;
	background: url(http://via.placeholder.com/330x230);
}
.margin_main{
	margin-left: 30px;
}
.last_special_hover{
	margin-top: 30px;
	overflow: hidden;
	width: 160px;
	height: 330px;
	float: right;
}
.last_2_special_hover{
	margin-top: 30px;
	overflow: hidden;
	width: 160px;
	height: 215px;
	float: right;
}
.game_name_h3{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-family: PlayR;
	font-size: 18px;
	padding-left: 15px;
	letter-spacing: 1.3px;
	padding-right: 15px;
}
.block3{
	width: 310px;
	height: 175px;
	background: url(http://via.placeholder.com/310x175);
}
.block4{
	width: 240px;
	height: 175px;
	background: url(http://via.placeholder.com/240x175);
}
.block5{
	width: 240px;
	height: 175px;
	background: url(http://via.placeholder.com/240x175);
}
.smaller_h3{
	letter-spacing: 1.5px;
	font-size: 16px;
}
.smaller{
	height: 45px;
}
.block6{
	width: 410px;
	height: 240px;
	background: url(http://via.placeholder.com/410x240);
}
.block7{
	width: 410px;
	height: 240px;
	background: url(http://via.placeholder.com/410x240);
}
.last1_h2{
	font-family: PlayR;
	font-size: 20px;
	letter-spacing: 1.5px;
}
.column_1{
	height: 330px;
	float: left;
	margin-top: 30px;
	width: 220px;
}
.bitnam{
	transition-duration: 0.2s;
	background: url(http://via.placeholder.com/220x100);
	width: 220px;
	height: 100px;
	cursor: pointer;
}
.searh_block_result{
	width: 380px;
	float: right;
	margin-right: 219px;
	transition-duration: 0.5s;
	background: #F3F3F3;
}
.search_result_img{
	width: 90px;
	height: 40px;
	margin-left: 20px;
	float: left;
	background: url(http://via.placeholder.com/90x40);
}
.search_game_line{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 1px;
	background: #D8D8D8;
}
.search_result_h4_div{
	width: 170px;
	height: 35px;
	margin-top: 3px;
	float: left;
	margin-left: 10px;
	display: table;
}
.search_result_h4{
	display: table-cell;
	vertical-align: middle;
	font-family: PlayR;
	font-size: 14px;
	color: #222224;
}
.margin_top_search_1{
	margin-top: 5px;
}
.margin_top_search_2{
	margin-top: 5px;
	margin-bottom: 10px;
}
.search_result_span{
	font-size: 11px;
	display: table-cell;
	text-align: center;
	padding-top: 2px;
	font-family: RubikB;
}
.search_result_price{
	width: 41px;
	height: 16px;
	border: solid #222224 2px;
	float: left;
	margin-top: 11px;
	margin-left: 30px;
	display: table;
}
.margin_top_search{
	margin-top: 10px;
}
.serch_result_game{
	position: relative;
	width: 100%;
	height: 45px;
}
.last_hover{
	overflow: hidden;
}
.margin15{
	margin-top: 15px;
}
.special_offer{
	cursor: pointer;
	transition-duration: 0.2s;
	height: 330px;
	width: 160px;
	background: #F88948;
}
.special_offer_h2{
	font-family: PlayB;
	font-size: 20px;
	text-align: center;
	padding-top: 90px;
}
.special_offer_h3{
	font-family: PlayB;
	font-size: 13px;
	text-align: center;
	padding-top: 7px;
}
.box{
	width: 59px;
	height: 57px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background: url(../img/box.svg);
}
.sm_div{
	width: 100%;
	float: left;
}
.sm_vse{
	text-decoration: underline;
	cursor: pointer;
	margin-top: 20px;
	font-family: PlayB;
	font-size: 14px;
	letter-spacing: 1.44px;
	text-align: center;
}
.special_offer_2{
	height: 215px;
	width: 160px;
	cursor: pointer;
	background: #FC522D;
	float: right;
	transition-duration: 0.2s;
}
.overflow_hidden{
	margin-top: 20px;
	overflow: hidden;
}
.white{
	font-family: PlayR;
	padding-top: 40px;
	color: #fff;
}
.shorter{
	height: 215px;
}
.big_letter{
	padding-top: 12px;
	letter-spacing: 2.57px;
}
.key{
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 47px;
	height: 49px;
	background: url(../img/key.svg);
}
.content2_h2{
	color: #fff;
	font-family: PlayB;
	font-size: 24px;
	padding-top: 30px;
	margin-left: 70px;
}
.c2_column{
	width: 320px;
	height: 443px;
	float: left;
}
.columns_2{
	margin-top: 30px;
	width: 1220px;
	height: 443px;
	margin-left: auto;
	margin-right: auto;
}
.margin130{
	margin-right: 130px;
}
.c2_sale_span{
	color: #fff;
	font-size: 20px;
	letter-spacing: 4px;
	margin-left: 5px;
	font-family: PlayB;
}
.c2_img{
	transition-duration: 0.2s;
	cursor: pointer;
	width: 320px;
	height: 120px;
	background: url(http://via.placeholder.com/320x120);
}
.c3_h2{
	font-family: PlayB;
	font-size: 20px;
	letter-spacing: 3px;
}
.c3_p{
	font-family: Open_sansR;
	font-size: 16px;
	color: #6F6F6F;
	width: 900px;
	margin-top: 33px;
}
.othermargin{
	margin-top: 43px;
}
.news_div{
	width: 1060px;
	height: 360px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.yes_margin{
	margin-right: 50px;
}
.new_article{
	transition-duration: 0.2s;
	float: left;
	width: 320px;
	cursor: pointer;
	height: 360px;
	background: #fff;
}
.new_img{
	position: relative;
	width: 320px;
	height: 120px;
	background: url(http://via.placeholder.com/320x120);
}
.semi_new_blcok{
	transform: rotate(180deg);
	width: 320px;
	height: 41px;
	position: absolute;
	bottom: 0px;
	background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(216,216,216,0.00) 100%);
}
.new_content{
	height: 215px;
	position: relative;
	margin-left: 10px;
	margin-top: 15px;
}
.news_h4{
	font-family: PlayB;
	font-size: 14px;
	letter-spacing: 1.4px;	
}
.new_p{
	width: 300px;
	margin-top: 20px;
	font-family: Open_sansR;
	font-size: 13px;
	line-height: 18px;
}
.new_h6{
	font-family: PlayB;
	font-size: 11px;
	right: 20px;
	bottom: 0px;
	position: absolute;
}
.all_advs{
	width: 1010px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.margin_ad{
	margin-left: 70px;
}
.ad_1{
	margin-top: 48px;
	float: left;
	width: 200px;
	height: 102px;
}
.ad_img1{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	height: 60px;
}
.img1{
	background: url(../img/phone.svg);
}
.img2{
	background: url(../img/mail.svg);
}
.img3{
	background: url(../img/www.svg);
}
.img4{
	background: url(../img/like.svg);
}
.ad_div_span{
	margin-top: 10px;
	height: 32px;
	width: 200px;
}
.ad_span{
	line-height: 16px;
	font-family: PlayB;
	font-size: 14px;
	color: #fff;
	text-align: center;s
}
.copyright{
	font-size: 13px;
	font-family: PlayR;
	margin-left: 40px;
}
.copy_div{
	float: left;
	margin-top: 21px;
}
.special_pages_div{
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}
.special_page{
	cursor: pointer;
	font-family: PlayB;
	font-size: 14px;
	letter-spacing: normal;
	float: left;
}
.margin_right_special{
	margin-right: 40px;
}
.g_upper{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 350px;
}
.g_black{
	width: 100%;
	height: 305px;
	background: #222224;
}
.g_content{
	width: 100%;
	margin-top: 50px;
}
.g_left{
	width: 400px;
	height: 842px;

	margin-left: 105px;
	float: left;
}
.g_right{
	width: 785px;
	background: #fff;
	float: right;
	margin-right: 105px;
}
.g_right_content{
	width: 725px;
	margin-left: 30px;
	float: left;
	margin-top: 25px;
}
.g_short{
	width: 100%;
	height: 445px;
	background: #222224;
}
.g_sim{
	width: 100%;
	height: 367px;
	background: #fff;
	margin-top: 30px;
}
.g_main_left{
	margin-left: 55px;
	position: absolute;
	top: 90px;
	height: 260px;
	width: 410px;
	background: url(http://via.placeholder.com/410x260);
}
.g_up_h2{
	margin-left: 55px;
	position: absolute;
	top: 43px;
	font-family: PlayB;
	font-size: 24px;
	color: #fff;
}
.g_main_right{
	width: 840px;
	height: 193px;
	position: absolute;
	top: 97px;
	right: 90px;
}
.g_icons{
	width: 340px;
	height: 193px;
	float: left;
}
.g_right_part_icons{
	float: right;
	width: 500px;
	height: 193px;
}
.g_icon_div{
	height: 37px;
	margin-bottom: 15px;

	width: 100%;
}
.g_icon{
	width: 37px;
	height: 37px;
	float: left;
}
.g_icon_1{
	background: url(../img/g_ok.svg);
	background-size: 100%;
}
.g_icon_2{
	background: url(../img/g_flag.svg);
	background-size: 100%;
}
.g_icon_3{
	background: url(../img/g_key.svg);
	background-size: 100%;
}
.g_icon_4{
	background: url(../img/g_percent.svg);
	background-size: 100%;
}
.g_icon_h4{
	font-family: PlayB;
	font-size: 18px;
	color: #fff;
	padding-top: 8px;
	float: left;
	margin-left: 15px;
}
.g_buts{
	user-select: none;
	width: 260px;
	height: 180px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
.g_but_1{
	cursor: pointer;
	display: table;
	background: #f55500;
	width: 250px;
	height: 70px;
	border: 5px solid #fff;
}
.g_2_buts{
	margin-top: 10px;
	width: 100%;
	height: 60px;
}
.g_price{
	display: table;
	float: left;
	width: 130px;
	height: 50px;
	border: solid 5px #fff;
}
.g_buy{
	cursor: pointer;
	display: table;
	width: 100px;
	height: 50px;
	border: solid #f55500 5px;
	float: left;
	margin-left: 10px;
}
.g_howto{
	cursor: pointer;
	display: table;
	width: 136px;
	height: 19px;
	border: solid 2px #fff;
	margin-top: 10px;
}
.g_1_h4{
	font-family: PlayB;
	font-size: 24px;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.g_price_h5{
	color: #fff;
	font-size: 36px;
	font-family: PlayB;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.g_cart{
	width: 44px;
	height: 39px;
	background: url(../img/cart_active.svg);
	background-size: 101%;
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}
.g_howto_span{
	font-family: PlayB;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	font-size: 11px;
	text-align: center;
}
.invisible{
	top: -100%;
	height: 100%;
	position: absolute;
	width: 100%;
	background: rgb(34,34,36,0.8);
	transition-duration: 0.5s;
}
.g_td_table_1{
	width: 110px;
}
.g_td_table_2{
	width: 266px;
}
.g_table_o{
	font-family: PlayR;
	float: right;
	font-size: 14px;
	color: #f55500;
}
.g_table_2{
	font-family: PlayR;
	font-size: 14px;
	color: #B9B9B9;
	margin-left: 25px;
}
.g_table{
	padding-top: 33px;
	margin-left: 15px;
}
.g_td{
	padding-top: 20px;
}
.g_right_header{
	font-size: 18px;
	font-family: PlayB;
	color: #f55500;
}
.g_par{
	font-family: Open_sansR;
	margin-top: 20px;
	color: #4D4D4D;
	font-size: 14px;
}
.g_margin_top_h3{
	margin-top: 30px;
}
.g_li_special{
	color: #222224;
	font-size: 14px;
	font-family: Open_sansB;
}
.g_li_sp{
	color: #222224;
	font-family: Open_sansR;
	font-size: 14px;
}
.g_spec{
	margin-top: 30px;
}
.g_ul{
	margin-left: 30px;
}
.g_system_table{
	margin-bottom: 70px;
	font-size: 14px;
	font-family: Open_sansR;
	margin-top: 30px;
	width: 100%;
	height: 50px;
}
.g_td_system_1{
	height: 40px;
	color: #8C8C8C;
	width: 190px;
}
.g_td_system_2{
	color: #222224;
	width: 495px;
}
@media screen and (max-width: 1320px){
	.content_menu{
		width: 500px;
	}
	.open_menu{
		max-width: 500px;
	}
	.menu{
		transition-duration: 1s;
	}
	.search{
		transition-duration: 0.7s;
	}
	.slider{
		height: 930px;
	}
	.main_img_upper{
		margin-left: 35px;
	}
	.other_img{
		width: 870px;
		margin-left: 0px;
	}
	.margin_top20{
		margin-top: 0px;
		margin-left: 50px;
	}
	.slider_imgs{
		width: 870px;
	}
	.left_part{
		height: 780px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.pages_h2s{
		margin-left: 112px;
	}
	.black_lines{
		margin-left: 90px;
	}
	.content1{
		height: 1250px;
	}
	.right_part{
		width: 830px;
		margin-top: 40px;
		float: none;
		height: 420px;
		margin-left: auto;
		margin-right: auto;
	}
	.last1{
		margin-top: 0px;
	}
	.last2{
		margin-left: 40px;
		margin-top: 0px;
	}
	.columns_2{
		width: 1000px;
	}
	.margin130{
		margin-right:20px;
	}
	.content3{
		width: 1000px;
	}
	.yes_margin{
		margin-right: 20px;
	}
}
@media all and (not handheld){
	body{
		background: #f1f;
	/*.search:hover .search_svg_active {
		opacity: 1;
	}
	.search:hover{
		background: #f55500;
	}
	.search:hover .search_svg {
		opacity: 0;
	}
	.cart:hover .cart_svg_active{
		opacity: 1;
	}
	.cart:hover{
		background: #f55500;
	}
	.cart:hover .cart_svg{
		opacity: 0;
	}
	.menu:hover .menu_svg_active{
		opacity: 1;
	}
	.menu:hover{
		background: #f55500;
	}
	.menu:hover .menu_svg{
		opacity: 0;
	}
	.other_img1:hover{
		transform: scale(1.03);
	}
	.main_img:hover{
		transform: scale(1.02);
	}
	.game_block:hover{
		transform: scale(1.04);
	}
	.new_article:hover{
		margin-top: -10px;
	}
	.c2_img:hover{
		transform: scale(1.05);
	}
	.special_offer_2:hover{
		transform: scale(1.03);
	}
	.special_offer:hover{
		transform: scale(1.03);
	}
	.bitnam:hover{
		transform: scale(1.04);
	}*/
}
@media handheld{
	body{
		background: #000;
	}
}





