@font-face {
	font-family: Open_sansB;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}
img{
	user-select: none;
}
@font-face {
	font-family: RubikB;
	src: url(../fonts/Rubik/Rubik-Bold.ttf);
}
@font-face {
	font-family: Open_sansR;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: PlayB;
	src: url(../fonts/Play/Play-Bold.ttf);
}
@font-face {
	font-family: PlayR;
	src: url(../fonts/Play/Play-Regular.ttf);
}
span,h1,h2,h3,h4,h5,h6{
	letter-spacing: 1.13px;
}
body{
	height: 3370px;
	width: 100%;
	background: #F3F3F3;
}
.header{
	width: 100%;
	height: 73px;
	background: #fff;
}
.slider{
	width: 100%;
	height: 620px;
	background: #222224;
}
.content1{
	margin-top: 55px;
	max-width: 1300px;
	height: 790px;
	margin-left: auto;
	margin-right: auto;


}
.content2{
	margin-top: 170px;
	width: 100%;
	background: #222224;
	height: 560px;
}
.content3{
	margin-top: 70px;
	max-width: 1220px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	height: 698px;
}
.advs{
	width: 100%;
	height: 226px;
	margin-top: 80px;
	background: #fff;
}
.adv_block{
	width: 100%;
	background: #222224;
	height: 190px;
}
.logo{
	background-size: 100%;
	background-image: url(../img/header_logo.png);
	width: 224px;
	height: 61px;
	margin-left: 24px;
	float: left;
	margin-top: 7px;
}
.menu_group{
	float: right;
	height: 73px;
	background: #555;
	margin-right: 73px;
}
.menu_obj{
	background: #fff;
	width: 73px;
	cursor: pointer;
	height: 73px;
	float: left;
	transition-duration: 0.55s;
}
.all_svg{
	position: absolute;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
	background-size: 100%;
	transition-duration: 0.3s;
}
.search_svg{
	width: 31px;
	height: 31px;
	background: url(../img/search.svg);
	margin-top: 21px;
	margin-left: 21px;
}
.search_svg_active{
	opacity: 0;
	background: url(../img/search_active.svg);
	width: 31px;
	height: 31px;
	margin-top: 21px;
	margin-left: 21px;
}
.search:hover .search_svg_active {
	opacity: 1;
}
.search:hover{
	background: #f55500;
}
.search:hover .search_svg {
	opacity: 0;
}
.cart_svg{
	width: 35px;
	height: 31px;
	margin-top: 21px;
	fill: pink;
	margin-left: 19px;
	background: url(../img/cart.svg);
}
.cart_svg_active{
	margin-top: 21px;
	opacity: 0;
	margin-left: 19px;
	background: url(../img/cart_active.svg);
	width: 35px;
	height: 31px;
}
.cart:hover .cart_svg_active{
	opacity: 1;
}
.cart:hover{
	background: #f55500;
}
.cart:hover .cart_svg{
	opacity: 0;
}
.menu_svg{
	margin-left: 23px;
	width: 27px;
	height: 19px;
	background: url(../img/menu.svg);
	margin-top: 27px;
}
.menu_svg_active{
	opacity: 0;
	margin-left: 23px;
	width: 27px;
	margin-top: 27px;
	height: 19px;
	background: url(../img/menu_active.svg);
}
.menu:hover .menu_svg_active{
	opacity: 1;
}
.menu:hover{
	background: #f55500;
}
.menu:hover .menu_svg{
	opacity: 0;
}
.slider_imgs{
	width: 1240px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main_img{
	cursor: pointer;
	width: 800px;
	height: 540px;
	background: url(http://via.placeholder.com/800x540);
	transition-duration: 0.2s;
}
.overflow{
	overflow: hidden;
}
.main_img_upper{
	position: relative;
	float: left;
	margin-top: 40px;
	width: 800px;
	height: 540px;
}
.main_img:hover{
	transform: scale(1.02);
}
.other_img{
	position: relative;
	width: 410px;
	height: 260px;
	margin-top: 40px;
	float: left;
	margin-left: 30px;
	margin-bottom: 0px;
	padding: none;
}
.other_img1{
	cursor: pointer;
	transition-duration: 0.2s;
	width: 410px;
	height: 260px;
	background: url(http://via.placeholder.com/410x260);
}
.other_img1:hover{
	transform: scale(1.03);
}
.other_img1_upper{
	position: relative;
	float: left;
	width: 410px;
	height: 260px;
}
.margin_top20{
	margin-top: 20px;
}
.new{
	position: absolute;
	user-select: none;
	border: solid #fff 5px;
	top: 20px;
	margin-left: 30px;
	height: 45px;
	width: 110px;
}
.new_span{
	font-family: PlayB;
	font-size: 36px;
	color: #fff;
	vertical-align: center;
	text-align: center;
	width: 102px;
	margin-left: 12px
}
.discount{
	position: absolute;
	user-select: none;
	display: table;
	top: 10px;
	right: 10px;
	float: right;
	width: 36px;
	height: 16px;
	border: solid #fff 2px;
}
.discount_span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	font-family: PlayB;
	color: #fff;
}
.semi_block{
	display: table;
	position: absolute;
	bottom: 0px;
	width: 100%;
	opacity: 0.5;
	height: 50px;
	background: #000;
}
.semi_podblock{
	float: left;
	display: table;
	width: 280px;
	height: 50px;
}
.semi_h3{
	cursor: pointer;
	padding-left: 10px;
	max-width: 280px;
	display: table-cell;
	margin-left: 10px;
	letter-spacing: 1.44px;
	font-family: PlayR;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
}
.semi_price{
	user-select: none;
	margin-top: 10px;
	margin-right: 45px;
	float: right;
	display: table;
	width: 51px;
	height: 21px;
	border: solid #fff 2px;
}
.semi_price_span{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	color: #fff;
	font-family: RubikB;
	font-size: 14px;
}
.pages_1{
	float: left;
	width: 850px;
	height: 44px;
}
.pages_h2s{
	margin-left: 20px;
	float: left;
}
.page_h2{
	cursor: pointer;
	float: left;
	margin-right: 50px;
	font-family: PlayR;
	font-size: 18px;
	letter-spacing: 2.77px;
	color: #979797;
}
#page2{
	color: #222224;
}
.line_pages{
	width: 850px;
	height: 1px;
	background: #B2B2B2;
	float: left;
}
.bline{
	height: 3px;
	background: #474747;
	float: left;
}
.black_lines{
	margin-top: 22px;
	width: 850px;
	float: left;
	height: 3px;
}
.bline1{
	opacity: 0;
	width: 175px;
}
.bline2{
	width: 125px;
}
.bline3{
	opacity: 0;
	width: 175px;
}
.bline4{
	opacity: 0;
	width: 150px;
}
.main_games{
	float: left;
	width: 850px;
	height: 705px;
	margin-top: 30px;
}
.last1{
	margin-top: 21px;
	float: left;
	width: 395px;
	height: 419px;
}
.left_part{
	width: 850px;
	float: left;
}
.right_part{
	width: 395px;
	float: right;
}
.last2{
	float: left;
	width: 395px;
	height: 304px;
	margin-top: 46px;
}
.game_line{
	width: 850px;
}
.game_line1{
	height: 230px;
}
.game_line2{
	margin-top: 30px;
	height: 175px;
}
.game_line3{
	margin-top: 30px;
	height: 240px;
}
.game_block{
	position: relative;
	float: left;
}
.block1{
	width: 490px;
	height: 230px;
	background: url(http://via.placeholder.com/490x230);
}
.block2{
	width: 330px;
	margin-left: 30px;
	height: 230px;
	background: url(http://via.placeholder.com/330x230);
}
.game_name_h3{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-family: PlayR;
	font-size: 18px;
	padding-left: 15px;
	letter-spacing: 1.3px;
	padding-right: 15px;
}
.block3{
	width: 310px;
	height: 175px;
	background: url(http://via.placeholder.com/310x175);
}
.block4{
	width: 240px;
	margin-left: 30px;
	height: 175px;
	background: url(http://via.placeholder.com/240x175);
}
.block5{
	width: 240px;
	margin-left: 30px;
	height: 175px;
	background: url(http://via.placeholder.com/240x175);
}
.smaller_h3{
	letter-spacing: 1.5px;
	font-size: 16px;
}
.smaller{
	height: 45px;
}
.block6{
	width: 410px;
	height: 240px;
	background: url(http://via.placeholder.com/410x240);
}
.block7{
	margin-left: 30px;
	width: 410px;
	height: 240px;
	background: url(http://via.placeholder.com/410x240);
}
.last1_h2{
	font-family: PlayR;
	font-size: 20px;
	letter-spacing: 1.5px;
}
.column_1{
	height: 330px;
	float: left;
	margin-top: 30px;
	width: 220px;
}
.bitnam{
	background: url(http://via.placeholder.com/220x100);
	width: 220px;
	height: 100px;
}
.margin15{
	margin-top: 15px;
}
.special_offer{
	height: 330px;
	width: 160px;
	background: #F88948;
	float: right;
	margin-top: 30px;
}
.special_offer_h2{
	font-family: PlayB;
	font-size: 20px;
	text-align: center;
	margin-top: 90px;
}
.special_offer_h3{
	font-family: PlayB;
	font-size: 13px;
	text-align: center;
	margin-top: 7px;
}
.box{
	width: 59px;
	height: 57px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background: url(../img/box.svg);
}
.sm_div{
	width: 100%;
	float: left;
}
.sm_vse{
	text-decoration: underline;
	cursor: pointer;
	margin-top: 20px;
	font-family: PlayB;
	font-size: 14px;
	letter-spacing: 1.44px;
	text-align: center;
}
.special_offer_2{
	height: 215px;
	width: 160px;
	background: #FC522D;
	float: right;
	margin-top: 30px;
}
.white{
	font-family: PlayR;
	margin-top: 40px;
	color: #fff;
}
.shorter{
	height: 215px;
}
.big_letter{
	margin-top: 12px;
	letter-spacing: 2.57px;
}
.key{
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 47px;
	height: 49px;
	background: url(../img/key.svg);
}
.content2_h2{
	color: #fff;
	font-family: PlayB;
	font-size: 24px;
	padding-top: 30px;
	margin-left: 70px;
}
.c2_column{
	width: 320px;
	height: 443px;
	float: left;
}
.columns_2{
	margin-top: 30px;
	width: 1220px;
	height: 443px;
	margin-left: auto;
	margin-right: auto;
}
.margin130{
	margin-right: 130px;
}
.c2_sale_span{
	color: #fff;
	font-size: 20px;
	letter-spacing: 4px;
	margin-left: 5px;
	font-family: PlayB;
}
.c2_img{
	width: 320px;
	margin-top: 20px;
	height: 120px;
	background: url(http://via.placeholder.com/320x120);
}


